<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/base.css' />
        <script type="text/javascript" src="/js/jquery.1.9.1.js"></script>
    </head>
    <body class="custom-background">
        <div id="wrapper">
            <%- include widget-common-header %>
            <%- include widget-common-nav %>
            <div id="center">
                <div class="left">
                    <% for(var i=0; i<chapters.length; i++) {%>
                        <div class="span3">
                            <h2><%= chapters[i]['title'] %></h2>
                            <p><%= chapters[i]['content'] %></p>
                        </div>
                    <% } %>
                </div>
                <div class="rights">
                    <div class="span3 right" style="top:0px;">
                        <h2>最新文章</h2>
                        <p>昨夜西风凋碧树 独上高楼 望尽天涯路</p>
                        <p>衣带渐宽终不悔 为伊消得人憔悴</p>
                        <p>众里寻他千百度 蓦然回首 那人却在灯火阑珊处</p>
                    </div>
                    <div class="span3 right" style="top:180px;">
                        <h2>贡献排行</h2>
                        <p>昨夜西风凋碧树 独上高楼 望尽天涯路</p>
                        <p>衣带渐宽终不悔 为伊消得人憔悴</p>
                        <p>众里寻他千百度 蓦然回首 那人却在灯火阑珊处</p>
                    </div>
                </div>
            </div>
            <%- include widget-common-footer %>
        </div>
    </body>
</html>
